@charset "utf-8";
/* CSS Document */
/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #31456b;   /* background color */
	color: black;          /* text color for the entire page */
	font-family: "Open Sans", sans-serif;
 	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: medium;
  	font-variation-settings:
    "wdth" 100;
	}


h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	background-color: #6b92b6;   /* background color */
	color: black;          /* text color */
	border-radius: 35%;
	}
/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin:auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */

.purple-purse-regular {
  font-family: "Purple Purse", serif;
  font-weight: 400;
	font-style:bold;
		}

.stepTitle{
	padding:20px;
	text-align:left;
	background-color:#6b92b6;
	font-weight: bold;
	font-size: 190%;
	border-radius: 50%;
	
	 }


.stepContent{
    background-color: lightblue;
    text-align: left;
    padding: 0px;
    box-sizing: border-box;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	font-weight: bold;
	font-size: 200%;
	}

.stepDescription {
	width:55%;
	padding:0;
	line-height:100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: left;
	border-radius: 20%;
	
	
}

.stepImage {
	width:40%;
	height:auto;
	padding:0;
	align-items:center;
	display: center;
	flex-wrap:wrap;
	justify-content:center;
	border-radius: 0%;
	box-shadow: 0 0px 0px 0 #6b92b6, 0 0px 0px 0 #6b92b6;
	
					}

.stepImage img {
    width:100%;
    height:auto;
}

strong {
  font-weight: 800;
}
.warning {
		background-color: palevioletred;
		padding:15px;
		border-radius:20px;
	}
.color {
		background-color: #6b92b6;
		padding:0px;
		border-radius:50px;
		color:darkblue;}

.material-icons {
	color:red; 
	font-size:3em;
}


