body {
    text-align: center;
    background-color: #83D8ED;  
    color: #01464A;
    margin: 0;
    font-family: Arial, sans-serif;	
}

h1 {
    font-size: 300%;
    font-family: "Papyrus", fantasy;
    color: #01464A;
    font-weight: bold;
    background-color: #1DF3CE;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 #6b92b6, 0 6px 20px 0 #6b92b6;
    border-top-left-radius: 180%;
    border-top-right-radius: 180%;
    border-bottom-left-radius: 180%;
    border-bottom-right-radius: 180%;
    border: none;
    margin: 20px 6px;
    cursor: pointer;
    position: relative;
    z-index: 1001; /* Ensure it's above other elements */
    margin-top: 20px; /* Adjust based on your navigation menu height */
}

h1, h2 {
    margin: 8px;
}

h2 {
    color: red;
}

.navigation-menu {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-around; /* Distribute items evenly */
    align-items: center;
    overflow: hidden;
    position: relative; /* or absolute, depending on your layout */
    top: 10px;
    width: 100%; /* Ensure it takes the full width */
    z-index: 1000; /* Ensure it's above other content */
    background-color: #059193; /* Adjust as needed */
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 #6b92b6, 0 6px 20px 0 #6b92b6;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    cursor: pointer;
}

.navigation-menu a {
    display: block;
    flex: 1 1 auto; /* Allow buttons to grow and shrink */
    color: black;
    background-color: #7EFBFD; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 4;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-variant: small-caps;
    font-size: 150%; /* Set text size to 150% */
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 #6b92b6, 0 6px 20px 0 #6b92b6;
    border: none;
    padding: 1px 25px;
    margin: 20px 2px;
    cursor: pointer;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.navigation-menu a:hover {
    font-size: 150%; /* Set hover text size to 200% */
    background-color: #2AD9DC; 
    color: cyan; 
    font-family: "Courier New", monospace;
    word-spacing: auto;
}

/* Add the wrapper class */
.wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Add margin to separate from navigation menu */
}

.box {
    flex: 1 1 auto; /* Grow and shrink with a base size of 200px */
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 300%;
    font-family: "Papyrus", fantasy;
    color: #01464A;
    font-weight: bold;
    background-color: #1DF3CE;
    box-shadow: 0 4px 25px 0 #6b92b6, 0 6px 20px 0 #6b92b6;
    cursor: pointer;
    position: relative;
    z-index: 1001; /* Ensure it's above other elements */
    width: 100%;
    height: 50%;
    border-radius: 50%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .navigation-menu {
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
    }
    .navigation-menu a {
        flex: 1 1 100%; /* Full width on smaller screens */
        margin: 10px 0; /* Adjust margin for smaller screens */
    }
}




/* Styles for the summary elements */
.stepTitle {
    font-size:200%; /* Larger font size */
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
	text-align: left
}

/* Styles for the rounded-div elements */
.rounded-div {
    background-color:  #7EFBFD; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Styles for the stepDescription elements */
.stepDescription {
    font-size: 150%; /* Default font size */
    line-height: 1.5; /* Line height for readability */
    color: black; /* Slightly lighter text color */
	text-align: left;
}

/* Styles for the warning class */
.warning {
    color: #d32f2f; /* Red color for warnings */
    font-weight: bold;
}

/* Styles for the stepImage elements */
.stepImage img {
    max-width: 100%; /* Responsive image */
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

/* Styles for links */
a {
    color: #00796b; /* Teal color for links */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}


.oval {
    width: 150px;
    height: 100px;
    background-color: #4CAF50;
    border-radius: 50%;
}


.grid-container {
    display: grid;
	grid-template-columns: repeat(8, fit-content(300px)); /* 8 columns */
    grid-template-rows: repeat(4, fit-content(300px)); /* 4 rows */
    gap: 10px; /* Gap between grid items */
    padding: 20px;
}



/* Weekdays */
.weekday {
    background-color: #00796b;
	 text-align: center; 
    padding: 15px;
    font-size: 150%;
    border-radius: 10px;
	text-color: white;
}

/* Shifts */
.shift {
    background-color: #00796b;
    text-align: center; 
    padding: 20px;
    font-size: 150%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust as needed */
}

.time {
	background-color: grey;
	 text-align: center; 
    padding: 10px;
    font-size: 150%;
    border-radius: 10px;
	
}

.time2 {
	background-color: #CDB1B1;
	 text-align: center; 
    padding: 0.5px;
    font-size: 150%;
    border-radius: 10px;
	
}

.time3 {
	background-color: #4C7BE8;
	 text-align: center; 
    padding: 0.5px;
    font-size: 150%;
    border-radius: 10px;
	
}
/* Grid items */
.grid-med {
    display: grid;
    grid-template-columns: repeat(5, fit-content(300px)); /* Adjust columns to fit content */
    grid-template-rows: repeat(12, fit-content(300px)); /* 12 rows */
    gap: 1px; /* Gap between grid items */
    padding: 20px;
    height: auto; /* Set height to auto */
}

.grid-one {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Set height to auto */
	
}

.title {
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Set height to auto */
    border: 3px solid black; /* Add a visible border */
}

.medcolor {
	color: #040C66;
	
}

.use {
	color: #040C66;
	
}

.am {
	color: #040C66;
	
}

.after {
	color: #040C66;
	
}

.even {
	color: #040C66;
	
}

/* Different pastel colors for each row */
.grid-one:nth-child(5n+1) { background-color: grey; } /* Light Pink */
.grid-one:nth-child(5n+2) { background-color: #FFDFBA; } /* Light Orange */
.grid-one:nth-child(5n+3) { background-color: lightslategrey; } /* Light Yellow */
.grid-one:nth-child(5n+4) { background-color: #BAFFC9; } /* Light Green */
.grid-one:nth-child(5n+5) { background-color: #BAE1FF; } /* Light Blue */














/* Responsive layout for smaller screens */
@media screen and (max-width: 600px) {
    
	.stepTitle {
        font-size: 150%; /* Smaller font size for mobile */
    }

    .stepDescription {
        font-size: 100%; /* Smaller font size for mobile */
    }

    .navigation-menu a {
        flex: 1 1 100%; /* Make each button take full width */
        text-align: left;
    }
}
